AddType application/vnd.android.package-archive .apk

<FilesMatch "\.apk$">
    ForceType application/vnd.android.package-archive
    Header set Content-Disposition "attachment; filename=app-release.apk"
</FilesMatch>

# Prevent gzip compression for APK files
SetEnvIf Request_URI "\.apk$" no-gzip dont-vary
